
			<!-- Main -->
				<section id="main" class="container">
					<header>
						<h2>Help</h2>
						<p>How does this work?</p>
					</header>
					<div class="box">
						<h4><b>Is as simple as it seems:</b></h4>
						<ol>
							<li>Enter a URL to forward your recipient to</li>
							<li>Give them the link that Watchr generates</li>
							<li>(Optional) Put the link through Bit.ly or Goo.gl for more secrecy</li>
							<li>Save the statistics URL provided or the code</li>
							<li>Return and enter the code to see your link stats and the IP addresses that accessed it.</li>
						</ol>
						<a href="./" class="button special fit">Try it now!</a>
					</div>
				</section>
