<!DOCTYPE HTML>
<html>
	<head>
    {:Head:}
	</head>
	<body class="landing">
		<div id="page-wrapper">
			<!-- Banner -->
				<section id="banner">
					<h2><a href="#" class="icon fa-user-secret"></a> Watchr</h2>
					<p>IP Address Logger</p>
					<div class="index-submit">
						<form method="post" action="?">
							<div class="row uniform 50%">
								<div class="9u 12u(mobilep)">
									<input type="text" name="url-or-code" id="query" value="" placeholder="URL or Access Code" />
								</div>
								<div class="3u 12u(mobilep)">
									<input type="submit" value="Submit" class="fit" />
								</div>
							</div>
						</form>
					</div>
				</section>

        {:Footer:}

		</div>
	</body>
</html>
